<p>
    <a href="#/user/change">Create user</a>
</p>
<table width="100%" border="1">
    <tr ng-repeat="user in UserCtrl.getAll()">
        <td>{{user.id}}</td>
        <td><a href="#/user/change/{{user.id}}">{{user.login}}</a></td>
        <td>{{user.lastname}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.middlename}}</td>
        <td>{{user.email}}</td>
        <td>{{user.gender.name}}</td>
        <td><a href="#" ng-click="UserCtrl.switchState(user.id);$event.preventDefault()">{{user.isActive}}</a></td>
        <td><a href="#" ng-click="UserCtrl.remove(user.id);$event.preventDefault()">X</a></td>
    </tr>
</table>