<div class="panel-body">
    <a href="#/user/change" class="btn btn-primary">Create user</a>
</div>
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td><sort attr="login" callback="UserCtrl.sort">{{UserCtrl.getLabels().login}}</sort></td>
            <td><sort attr="lastname" callback="UserCtrl.sort">{{UserCtrl.getLabels().lastname}}</sort></td>
            <td><sort attr="firstname" callback="UserCtrl.sort">{{UserCtrl.getLabels().firstname}}</sort></td>
            <td><sort attr="middlename" callback="UserCtrl.sort">{{UserCtrl.getLabels().middlename}}</sort></td>
            <td><sort attr="email" callback="UserCtrl.sort">{{UserCtrl.getLabels().email}}</sort></td>
            <td><sort attr="idGender" callback="UserCtrl.sort">{{UserCtrl.getLabels().idGender}}</sort></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in UserCtrl.getAll()">
            <td>{{user.id}}</td>
            <td><a href="#/user/view/{{user.id}}">{{user.login}}</a></td>
            <td>{{user.lastname}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.middlename}}</td>
            <td>{{user.email}}</td>
            <td>{{user.gender.name}}</td>
            <td><a href="#" ng-click="UserCtrl.switchState(user.id);$event.preventDefault()"><span class="glyphicon glyphicon-ok"></span></a></td>
            <td><a href="#/user/change/{{user.id}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href="#" ng-click="UserCtrl.remove(user.id);$event.preventDefault()"><span class="glyphicon glyphicon-remove"></span></a></td>
        </tr>
    </tbody>
</table>